html{
    background:  linear-gradient(180deg, rgba(0,240,244,1) 0%, rgba(10,2,111,1) 100%) no-repeat fixed;
    font-size: 30px;
    color: white;
    width: 100%;
     
    
}

body{
    width: 90%;
    height: 90%;
    transform: translateX(50px);
    
}
header{
    text-align: center;
    color: black;
    display: block;
    font-family: 'Orbitron', sans-serif
    
}

form p{
    font-size: 25px;
    width: 50%;
    float: left;
    font-family: 'Gloria Hallelujah', cursive;

}
button{
    width: 28%;
    float: left;
    font-size: 25px;
    border-radius: 13px;
    margin: 10px;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
} 

button:hover{
    background-color: rgb(255, 186, 108);
        color: black;
        font-size: 25px;
}

form{
    display: block;
    padding: auto;
    transform: translateY(-45px);
    
}
section{
    padding-left: 100px;
}

p{
    color: black;
    
}
input{
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
article{
    width: 83%;
    text-align: left;
    margin-top: 300px;
    color: black;
    font-size: 35px;
    display: block;
    border-bottom: black solid 2px;
   background-color: rgb(221, 221, 221);
    transform: translateX(100px) translateY(-15px);
    border-radius: 20px;
    position: relative;
}
article p {
    font-weight: bold;
}